{% extends 'pages/base.jinja' %}

{% block title %}

    Single Thing

{% endblock %}


{% block content %}

    <section id="things">

            <article>

                <header>
                    <h4>{{ thing["name"] }}</h4>
                </header>

                <p>{{ thing["description"] }}</p>

                <p>Cost <strong>${{ thing["cost"] }}</strong></p>

                <p>Rating <strong>{{ thing["rating"] }}</strong> / 5</p>

                <footer>
                    Delete
                </footer>

            </article>

    </section>

{% endblock %}
